@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* 
^       general statement 
*/
* {
    font-family: "Raleway", "sans-serif";
    box-sizing: border-box;
}

/* 
^       set color variables 
*/
:root {
    --blue : #0065FC;
    --light-blue : #DEEBFF;
    --grey : lightgrey;
    --dark-grey : dimgrey;
    --light-grey : #f2f2f2;
    --white: white;
}

/*  
^       hidden <label> position for accessibility       
*/
.accessibility-label {
	position:absolute;
	left:-999px;    
}

main {
    margin-left: 30px;
    max-width: 1500px;
    margin: 0 auto;
    padding : 0 15px;
}




/* 
^----------------------
&    NAVIGATION MENU     
^----------------------
*/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo {
    margin-right: auto;
    /* margin-right: 100%; */
} 

.menu {
    text-decoration: none;
    padding: 30px;
    color: black;
    border-top: 3px solid transparent;
}

.menu:hover {
    border-top-color: var(--blue);
    color: var(--blue);
}




/* 
^----------------------
&      SEARCH BAR     
^----------------------
*/

form {
    display: inline-block;
    align-items: center;
    width: 100%;
}

form i {
    background-color: var(--light-grey);
    padding: 10px 13px;
    border-radius: 15px 0 0 15px;
}

form input {
    border: 1px solid var(--light-grey);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0 7px 10px;
    margin-left: -5px;
}

form input::placeholder {
    color: black;
}

form h1 {
    font-size: 20px;
}

form button {
    border-radius: 0 14px 14px 0;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    padding: 9px 17px 8px 17px;
    cursor: pointer;
    margin-left: -5px;
}

form button:hover {
    box-shadow: 1px 1px 10px var(--dark-grey);
}

/* 
^       make the magnifying glass disappear 
*/
.fa-solid.fa-magnifying-glass {
    display: none;  
}





/* 
^----------------------
&       FILTERS     
^----------------------
*/

.filters {
    display: inline-flex;
    padding-top: 18px;
    flex-flow: row wrap;
    align-items: center;
    gap: 20px;
 }

.filters label {
    cursor: pointer;
}

.filters input[type="checkbox"] {
    visibility: hidden;
}
  
.btn-filter input[type="checkbox"]:checked + label {
    box-shadow: 4px 4px 4px var(--grey);
    background-color: var(--dark-grey);
    border: 1px solid greenyellow;
    color: var(--white);
}

.filters i {
    margin-left: -20px;
}

.filters h3 {
    margin-right: 20px;
}

.btn-filter {
    font-weight: bold;
    padding-right: 15px;
    border: 1px solid var(--light-grey);
    border-radius: 30px;
    border-left: none;
}

.btn-filter:hover {
    background-color: var(--light-grey);
    box-shadow: 0 0 8px var(--blue);
}
  
.btn-filter:hover i {
    background-color: var(--blue);
    color: var(--light-blue);
}

.btn-filter .fa-solid {
    background-color: var(--light-blue);
    border-radius: 30px;
}

.btn-filter .fa-child-reaching {
    padding: 14px 17px 14px 17px;
    margin-right: 10px;
    color: var(--blue);
}

.btn-filter .fa-heart, .fa-dog, .fa-money-bill-wave {
    padding: 14px 14px 14px 14px;
    margin-right: 10px;
    color: var(--blue);
}



#icon-info {
    display: flex;
    border-radius: 50%; 
    color: inherit;
    align-items: center;
}  

.fa-solid.fa-info {
    border: 1px solid var(--light-grey);
    border-radius: 50%;
    color: var(--blue);
    height: 25px;   
    width: 25px;
    font-size: 13px;
    margin-right: 10px;
    margin-top: 5px;
    padding-left: 9px;
    padding-top: 3px;
}
  




/* 
^----------------------
&       ARTICLES     
^----------------------
*/


.all-articles {
    display: flex;
    gap: 20px;
} 
.all-articles > div {
    border-radius: 16px;
    background-color: var(--light-grey);
}
.all-articles h3 {
    padding-left: 20px;
}
.all-articles .hebergements {
    flex-basis: 66%;
}
.all-articles .populaires {
    flex-basis: 33%;
}



/* 
^--------------------------------
&    ARTICLES --> HEBERGMENTS     
^--------------------------------
*/

.hebergements > a {
    padding-left: 20px;
}

.hebergements {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-grey);
    padding: 0 15px 0 15px;
}
.hebergements h3 {
    width: 100%;
}



.card-hebergement {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
 } 
.card-hebergement div {
    flex-basis: calc(33% - 40px);
    min-width: 220px;
}

.card {
    background-color: var(--white);
    border-radius: 16px;
    padding: 5px;
    box-shadow: 0 0 8px var(--dark-grey);
    flex-grow: 1;
    margin: 10px;
    transition: all 0.2s;
}

.card img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.card p, .card h4 {
    margin: 5px
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}






/* 
^--------------------------------
&    ARTICLES --> POPULAR     
^--------------------------------
*/

.populaires {
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
}

.populaires h3 {
    padding-right: 40px;
}

.popular-list {
    display: flex;
    flex-direction: column;
}

.card-popular {
    display: flex;
    background-color: var(--white);
    padding: 5px;
    border-radius: 15px;
    min-height: 130px;
    margin: 0 20px 40px 20px;
    min-width: 200px;
    box-shadow: 0 0 8px var(--dark-grey);
    transition: all 0.2s;
}
.card-popular:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}
.card-popular img {
    object-fit: cover;
    border-radius: 16px 0 0 16px;
    min-height: 150px;
    max-height: 150px;
    min-width: 35%;
    width: 35%;
}

.card-description {
    background-color: var(--white);
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.card-description p,
.card-description h4 {
    margin: 3px;
}

.card-description .stars-margin-top {
    margin-top: auto;
}



/* 
^--------------------------------
&    ACTIVITIES IN MARSEILLE     
^--------------------------------
*/

.activites {
    margin: 40px 10px 20px 10px;
}
.activites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    transition: all 0.2s;
}

.dual-card {
    display: block;
    flex-basis: 25%;
    justify-items: center;
}

/*     
*       CARD HEIGHT = 100%    
*/
.card-100 {
    flex-basis: 22%;
    box-shadow: 0 0 8px var(--dark-grey);
    border-radius: 16px;
    max-width: 350px;
    min-width: 240px;
}
.card-100:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}
.card-100 h4 {
    margin: 5px 0 0 20px;
}
.card-100 img {
    min-height: 370px;
    max-width: 100%;   
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

/*    
^       CARD HEIGHT = 60%    
*/
.card-60 {
    height: 57%;  
    flex-basis: 22%; 
    margin-bottom: 25px;
    box-shadow: 0 0 16px var(--dark-grey);
    border-radius: 16px;
    min-width: 240px;
}
.card-60:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}
.card-60 img {
    max-height: 195px;
    min-width: 100%;   
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.card-60 h4 {
    margin: 5px 0 0 20px;
}

/*    
^        CARD HEIGHT = 40%    
*/
.card-40 {
    height: 37%;
    flex-basis: 22%;
    box-shadow: 0 0 16px var(--dark-grey);
    border-radius: 16px;
    min-width: 240px;
}
.card-40:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}
.card-40 img {
    max-height: 115px;
    min-width: 100%;   
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.card-40 h4 {
    margin: 5px 0 0 20px;
}


/*    
^       CARD HEIGHT = 50%    
*/
.card-50 {
    height: 47%;
    flex-basis: 22%;
    margin-bottom: 23px;
    box-shadow: 0 0 16px var(--dark-grey);
    border-radius: 16px;
    min-width: 240px;
}
.card-50:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--blue);
}
.card-50 img {
    max-height: 155px;
    min-width: 100%;   
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.card-50 h4 {
    margin: 5px 0 0 20px;
}



/* 
^       def: stars color 
*/
.star-blue, .star-grey {
    background-color: inherit;
}

.star-blue {
    color: var(--blue);
}
  
.star-grey {
    color: var(--grey);
}





/* 
^--------------------
&      FOOTER     
^--------------------
*/

footer {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--light-grey);
    padding: 30px;
    
}
footer a {
    text-decoration: none;
    color: black;
}
footer h4 {
    margin: 0 0 10px 0;
}
footer p {
    margin: 0;
    margin-bottom: 5px;
}

.footer-left, 
.footer-middle, 
.footer-right {
    min-width: 30%;
    min-height: 100px;
}







/* 
^----------------------------
&       MEDIA QUERIES
^----------------------------
*/


@media (max-width: 992px) {
 /* 
    ^       hébergments 
    */
    .all-articles {
        flex-direction: column-reverse;
    }
    .all-articles > div {
        background-color: var(--white);
    }   
    .popular-list, 
    .hebergements,
    .activites-list {
        display: flex;
        flex-direction: row;
    }
    .card-popular {
        flex-basis: 33%;
    }
    
}





@media (max-width: 768px) {
    * {
        margin-left: 0px;
    }


    /* section: menu */

    nav {
        display: block;
    }
    nav img {
        display: block;
        margin: auto;
        padding-left: 40px;
    }

    .bloc-menu {
        display: flex;
        flex-basis: 100%;
        text-align: center;
    }
    .bloc-menu a {
        flex-basis: 50%;
        text-align: center;
        justify-content: center;
        border-bottom: 3px solid var(--grey);
    }
    .bloc-menu a:hover {
        border-top-color: transparent;
        border-bottom-color: var(--blue);  
    }

    
    
    /* 
    ^   Section: Search bar 
    */   

    .fa-solid.fa-magnifying-glass {
        display: inline;
        background-color: var(--blue);
        margin-left: -5px;
        font-size: 15px;
        padding: 0;
    }

    .btn-search span {
        display: none;
    }
    
  
    

    /* 
    ^       filters 
    */
    .filters {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: baseline;

    }
    .filters h3 {
        margin: 0;
    }
    /* .filters label {
        margin-bottom: 10px;
    } */
    /* .filter {
        margin-top: 10px;
    } */




    /* 
    ^       hébergments 
    */
    .all-articles {
        flex-direction: column-reverse;
    }
    .hebergements {
        padding: 0;
    }
    .card {
        height: 210px;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .card-hebergement {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .all-articles > div {
        background-color: var(--white);
    }


    /* 
    ^       popular 
    */
    .populaires {
        padding-left: 0;
        background-color: var(--light-grey);
    }
    .popular-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-popular {
        /* width: 350px; */
        height: 150px;
        width: 100%;
        margin: 0 0 20px 0;
    }
    .card-popular img {
        height: 150px;
        width: 100px;
    }
    .desc-top {
        margin-bottom: 100%;
    }



    /* 
    ^       activités 
    */

    .activites {
        margin: 0;
    }
    .activites-list p,
    .dual-card p {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
    }

    .card-100,
    .card-60,
    .card-40,
    .card-50 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 100%;
        height: 204px;
    }
    .dual-card {
        height: 428px;
        flex-basis: 100%;
    }
    .card-100 img,
    .card-60 img,
    .card-40 img,
    .card-50 img {
        min-height: 160px;
        max-height: 160px;
        width: 100%;
        padding: 5px 5px 0 5px;
    }

    .card-100 h4,
    .card-60 h4,
    .card-40 h4,
    .card-50 h4 {
        margin-left: 20px;
    }
     


    /* 
    ^       footer 
    */
    footer {
        display: block;
    }
    .footer-left, .footer-middle {
        margin-bottom: 25px;
    }
}